[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FlickrAPI"]
	path = FlickrAPI
	url = https://github.com/koki25ando/flickrapi
[submodule "NBAloveR"]
	path = NBAloveR
	url = https://github.com/koki25ando/nbalover
